
html{
    background-color: ccffff;

}
body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #ccffff;
}
header {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: #000000;
    background-color: #00ccff;
    background-size: 260px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20%;
}

img {
    width: 10%;
    height: auto;
    margin-left: 5%;
}

.navigacija{
    display: inline-block;
    padding: 5px 5px;
    width: 16%;
    float: left;
}
.navigacija > ul {
    list-style: none;
    line-height: 1;
    margin: 0;
    padding: 10px;
}
.navigacija > ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 0;   
    width: auto;   
    padding: 6px;
    font-weight: bold;
    line-height: 2em;
    color:#000000;
    border-right: 1px solid #000;
}
.navigacija > ul li a:hover {
    color: #ffffff;
    background-color: #00ccff;
}
section#sadrzaj {
    text-align: left;
    padding: 5px 5px;
    margin-left: 10px;
    width: 70%;
    float: left;
    margin-bottom: 10px;
}


.gumb{
    background: white;
    cursor: pointer;
    
}

.gumb:hover{
    color: white;
    background-color: #00ccff;
}
form{
   
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 5px;
}
.poljeLabel{
    padding: 10px;
    width:40%;
    display: inline-block;
    margin-left: 19%;
    margin-right: 20%;
}
.polje{
    padding: 7px;
    display: inline-block;
    width: 55%;
    margin-left: 20%;
    margin-right: 20%;
}

.poljeSelect{
    padding: 7px;
    display: inline-block;
    width: 58%;
    margin-left: 20%;
    margin-right: 20%;
}



